@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #2b2e2e;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  overflow: auto;
}

::-webkit-scrollbar {
  display: block;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #1b1b1b;
  border-right: none;
  border-left: none;
}

.titlebar {
  position: fixed;
  z-index: 999;
  width: 100vw;
  top: 0px;
  -webkit-app-region: drag;
}

.titlebar .title {
  width: 100%;
  text-align: center;
  display: block;
}

.titlebar .button,
.titlebar-button {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0px;
}

.titlebar .button:hover,
.titlebar-button:hover {
  /* cursor: pointer; */
  background-color: rgb(112, 111, 111);
}

.titlebar .button.close {
  right: 10px;
}

.titlebar .button.minimize {
  right: 35px;
  top: -2px;
}

.titlebar .button.back {
  left: 10px;
}

.is-playing-icon {
  position: absolute;
  left: 47%;
  top: 38%;
  color: #e0e0e0;
}
